<ion-header>
  <ion-navbar color="danger">
    <ion-title align="center">
      Current Orders
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card *ngFor="let order of orders" style="background-color: #EDEDED">
    <ion-card-header align="center">
      <b>Customer Name<br></b> {{ order.customerName }}<br>
    </ion-card-header>
  <hr>
    <ion-card-content align="center">
     {{ order.OrderStatus }}
    </ion-card-content>
  
  <!--Buttons Below -->
  <ion-row>
    <ion-col>
      <button ion-button color="lightble" block icon-centre large (click)="viewItem(order)">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-col>

    <ion-col>
      <button ion-button icon-only color="lghtprpl" style="text-transform: none;" block icon-centre large>
      <ion-select [(ngModel)]="order.OrderStatus" (ionChange)="saveStatus(order)">
        <ion-option *ngFor="let orderstatus of orderStatuses" [value] = "orderstatus.name">{{orderstatus.name}}</ion-option> 
      </ion-select>
        <ion-icon name="stats"></ion-icon>
      </button>
    </ion-col>
   
   <ion-col>
      <button ion-button color="lightgrn" block icon-centre large (click)="removeItem(order)" (click)="completedItem(order)" (click)="showAlertComplete()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>

<!-- Old Version of the list.

<ion-content>
<ion-list>
  <ion-card *ngFor="let order of orders">
    <button ion-item  detail-push (click)="viewItem(order)">
      <ion-item>
      Customer Name: {{ order.customerName }}<br><br>
      </ion-item>
        <ion-item color="light">
        <b>Order Status:<br></b> {{ order.OrderStatus }}
        </ion-item>
    </button>
    <ion-item-options side="right">
      <button ion-button color="good" icon-only (click)="completedItem(order)" (click)="removeItem(order)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="left">
      <button ion-button color="danger" icon-only (click)="removeItem(order)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-card>
</ion-list>
</ion-content>

-->