<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Current Orders
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewLeads()">
        <ion-icon name="clipboard" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
<ion-card *ngFor="let order of orders" >
  <button ion-item  detail-push (click)="viewItem(order)">
    <ion-card-header >
      <b>Customer Name:<br></b> {{ order.customerName }}
    </ion-card-header>
    <ion-card-content>
      <b>Order Status:<br></b> {{ order.OrderStatus }}
    </ion-card-content>
  </button>
  <hr>
  <!--Buttons Below -->
  <ion-row >
    <ion-col>
      <button ion-button color="good" block icon-centre clear large (click)="removeItem(order)" (click)="completedItem(order)" (click)="showAlertComplete()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="danger" block icon-centre clear large (click)="removeItem(order)" (click)="showAlertDelete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>

<!-- Old Version of the list.

<ion-content>
<ion-list>
  <ion-card *ngFor="let order of orders">
    <button ion-item  detail-push (click)="viewItem(order)">
      <ion-item>
      Customer Name: {{ order.customerName }}<br><br>
      </ion-item>
        <ion-item color="light">
        <b>Order Status:<br></b> {{ order.OrderStatus }}
        </ion-item>
    </button>
    <ion-item-options side="right">
      <button ion-button color="good" icon-only (click)="completedItem(order)" (click)="removeItem(order)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="left">
      <button ion-button color="danger" icon-only (click)="removeItem(order)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-card>
</ion-list>
</ion-content>

-->